.bod {
    color: white;
    padding-left: 50px;
    background-size: 50vh;
    background-repeat: no-repeat;
    background-position: 150%;
}

li::marker {
    color: #61DAFB;
    font-size: 1.5rem;
}

.bg-img {
    position: absolute;
    right: -40px;
}